Django==1.9.2
Jinja2==2.7.2
MarkupSafe==0.18
PAM==0.1.4
Pillow==2.3.0
PyJWT==1.4.1
Pygments==1.6
Sphinx==1.2.2
argparse==1.2.1
astroid==1.0.1
html5lib==0.999
httplib2==0.8
ipython==1.2.1
jedi==0.7.0
lockfile==0.8
logilab-common==0.61.0
lxml==3.3.3
mercurial==2.8.2
numpy==1.8.2
oauth2client==2.1.0
oauthlib==1.1.2
pep8==1.4.6
pexpect==3.1
psutil==1.2.1
pyOpenSSL==0.13
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
pycurl==7.19.3
pyflakes==0.8.1
pylint==1.1.0
pyparsing==2.0.1
pyserial==2.6
python-dateutil==1.5
python-openid==2.2.5
python-social-auth==0.2.19
pytz==2012c
pyxdg==0.26
pyzmq==14.0.1
reportlab==3.0
requests==2.2.1
requests-oauthlib==0.6.2
roman==2.0.0
rope==0.9.2
rsa==3.4.2
scipy==0.13.3
simplegeneric==0.8.1
simplejson==3.8.2
six==1.5.2
ssh-import-id==3.21
uritemplate==0.6
urllib3==1.7.1
virtualenv==15.0.2
gunicorn
whitenoise
