{% load staticfiles %}
{% if request.session.logged_in %}


<link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %} ">


<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Quizzer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      
      <li><a href="#">Profile(not working)</a></li>
      <li style="font-size:20px;margin:0 auto;"><strong>Logged in with: {{request.session.username}}</strong></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<form method='post' action='/create_quiz/' id='quiz' role="form">
{% csrf_token %}
<div class="form-group">
<input type='text' placeholder="quiz_name" name='quiz_name' class="form-control">
</div>
<div class="form-group">
<input type='text' placeholder="beginning_quote" name="beginning_quote" class="form-control">
</div>
<div class="form-group">
<input type='text' placeholder="end_quote" name="end_quote" class="form-control">
</div>
<div class="form-group">
<input type='text' placeholder="duration in minutes" name='duration' class="form-control">
</div>
<div class="form-group">
<input type='submit' placeholder="submit" class="btn btn-primary">
</div>
</form>

<script src="{% static "assets/js/jquery-1.11.1.min.js" %} "></script>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %} "></script>	
<div class="col-md-12">
<table class="table">
<thead>
<tr>
<th>Quiz Name</th>
<th>Duration</th>
<th>No Of Questions</th>
<th>Date of Creation</th>
<th>Quiz Link</th>
<th>Leader Board</th>
</tr>
</thead>
<tbody class="quiz">
</tbody>
</table>
</div>
<div class="modal fade" id="leader_board" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <table class="table">
<thead>
<tr>
<th>Rank</th>
<th>User</th>
<th>Questions Correct</th>
<th>Questions Attempted</th>
<th>Time of Attempt</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</div>
<script type="text/javascript">
var url = "{{ server }}" + "quiz_links";
function theAjax(uri){
 return $.ajax({
        type:"GET",
        dataType:'json',
        url: uri
 });
}
$(document).ready(function(){
	theAjax(url).done(function(response){
		var quiz_array = response['data'].reverse();
		for(i=0;i<quiz_array.length;i++)
		{
			html = "<tr>";
			html += "<td>"+ quiz_array[i]['name'] + "</td>";
			html += "<td>"+ quiz_array[i]['duration'] + "</td>";
			html += "<td>"+ quiz_array[i]['no_of_questions'] + "</td>";
			html += "<td>" + quiz_array[i]['date_created'] + "</td>";
			html += "<td><a href='" + quiz_array[i]['quiz_link'] +"'>"+ quiz_array[i]['quiz_link'] +"</a></td>";
			html += '<td><button type="button" class="btn btn-info btn-lg ldb" data-toggle="modal" data-target="#leader_board" id="'+quiz_array[i]['quiz_id']+'" quiz_name="'+quiz_array[i]['name']+'"">Results</button>'
			$(".quiz").append(html);
		}
	})
});

$(document).on("click",".ldb",function(){
	
	var id = $(this).attr("id");
	var name = $(this).attr("quiz_name");
	$(".modal-title").html(name + " Leader Board");
	theAjax("{{server}}"+"leader_board/?quiz_id="+id)
	.done(function(response){

		var leader_data = response['data'].sort(function(b,a){
			return (a.questions_correct - b.questions_correct - 0.000001*(a.questions_attempted - b.questions_attempted));
		});
		console.log(leader_data);
		var html = "";
		for(i=0;i<leader_data.length;i++){
			html += "<tr><td>"+(i+1)+"</td>";
			html += "<td>"+leader_data[i]['user_email'] + "</td>";
			html += "<td>"+leader_data[i]['questions_correct'] + "</td>";
			html += "<td>"+leader_data[i]['questions_attempted'] + "</td>";
			html += "<td>"+leader_data[i]['date'] + "</td>";
			html += "</tr>";
		}
		$(".modal-content tbody").html(html);
	})
})
</script>
{% else %}
Please go to home page
{% endif %}