{% if quiz %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %} ">
<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Quizzer</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="#">Quiz Creating Page</a></li>
      
      <li><a href="{{server}}play?quiz_id={{ quiz.quiz_id }}">Check out the Quizzz</a></li>
      
      <li style="font-size:20px;margin:0 auto;"><span> <strong>{{quiz.name}}</strong> Quiz successfully created</span></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
     
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container" role="main">

<input type="hidden" id="quiz_id" value="{{ quiz.quiz_id }}">



<div class="form-group">
<select id="no_of_options" class="form-control">
	<option value=2>2 options</option>
	<option value=3>3 options</option>
	<option value=4>4 options</option>
	<option value=5>5 options</option>
	<option value=6>6 options</option>
	<option value=7>7 options</option>
	<option value=8>8 options</option>
	<option value=9>9 options</option>
	<option value=10>10 options</option>

</select>
</div>
<div class="form-group">
<button id='question' class="btn btn-primary">Add Question</button>
</div>
<div id='question_area'></div>
</div>
<script src="{% static "assets/js/jquery-1.9.1.js" %} "></script>
<script type="text/javascript">
var question_count = 0;
$("#question").click(function (){
	question_count++;
	html = '<div id="question'+question_count+'" class="question"><div class="form-group"><input type="text" placeholder="Question Title" class="question_title form-control"></div><div class="form-group"><input type="text" placeholder="Correct Message" class="correct_message form-control"></div><div class="form-group"><input type="text" placeholder="Incorrect Message" class="incorrect_message form-control"></div><div class="form-group"><select class="question_type form-control"><option value="sc">Single Correct</option><option value="mc">Multiple Correct</option></select></div>';
	var val = $("#no_of_options").val();
	html += '<input type="hidden" class="no_options" value="'+val+'">';
	html += '<br><div class="form-group"><button id="'+question_count+'" class="add_button btn btn-primary">Add the Question</button></div><br>';
	val++;
	while(--val){
		html += '<div class="form-group"><input type="text" placeholder="'+val+' option" class="'+val+'option form-control"><select class="'+val+'"><option value=0>Incorrect</option><option value=1>Correct</option></select></div><br>';
	}
	html += "<br><br></div>"
	$("#question_area").append(html);

});
$(document).on("click",".add_button",function(event){
	event.preventDefault();
	$(this).prop("disabled",true);
	var questionId = "#question" + $(this).attr("id");
	url = "{{server}}"+'create_question/';
	var val = $(".no_options").val();
	var options = [];
	val++;
	while(--val){
		options.push({
			"value":$(questionId+" ."+val+"option").val(),
			"status":$(questionId+" ."+val).val()
		});
	}
	console.log(options[0]);
	console.log(options[1]);
	data = {
		"quiz_id":$("#quiz_id").val(),
		"question_type":$(questionId+" .question_type").val(),
		"question_title":$(questionId+" .question_title").val(),
		"correct_message":$(questionId+" .correct_message").val(),
		"incorrect_message":$(questionId+" .incorrect_message").val(),
		"options":JSON.stringify(options),
	};
	
	console.log(data);
	theAjax(url,data).done(function(response){
		$(questionId).append('<div class="alert alert-success" role="alert"><strong>Well done!</strong>'+response+'</div>'+'<br><br><br>');
	});
});

function theAjax(uri,data){
 return $.ajax({
        type:"POST",
        data:data,
        url: uri,

 });
}

</script>
{% else %}
shit
{% endif %}